.navbar {
    display: flex;

    &__link {
        color: #000;
        padding: 1rem;
        text-decoration: none;
    }
}

// .navbar-list {
//     display: flex;
//     list-style-type: none;
//     padding-left: 0;
// }