.resource-table {
    background-color: #f2f2f2;

    &__header {
        display: flex;

        &--ux {
            background-color: #8bc2eb;
        }

        &--frontend {
            background-color: #d41d53;
        }

        &--backend {
            background-color: #3f6d63;
        }

        &--foundations {
            background-color: #45393b;
        }
    }

    &__heading {
        margin-top: 0;
        text-transform: uppercase;
    }
}